*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.img-thumbnail{
    height: 12em;
    width: 12em;
    margin-top: -2em;
    margin-left: 1em;
}

.capa{
    background-image: url(/src/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    height: 30em;
    color: white;
    text-align: center;
    padding-top: 24em;
    
}

.igni_capa{
    background-image: url(/src/igni/igni_capa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -4em;
    height: 30em;
}

.aard_capa{
    background-image: url(/src/aard/aard_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -25em;
    height: 30em;
}

.yrden_capa{
    background-image: url(/src/yrden/yrden_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -25em;
    height: 30em;
}

.yrden-text{
    color: #9400D3;
}

.quen_capa{
    background-image: url(/src/quen/quen_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -10em;
    height: 30em;
}

.axii_capa{
    background-image: url(/src/axii/axii_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -21em;
    height: 30em;
}


footer {
    background-color: #343A40;
    color: white;
    height: 6em;
    text-align: center;
}



