*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}



.img-thumbnail{
    height: 12em;
    width: 12em;
    margin-top: -2em;
    margin-left: 1em;
}

.capa{
    background-image: url(/src/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    height: 30em;
    color: white;
    text-align: center;
    padding-top: 24em;
}

.igni_capa{
    background-image: url(/src/igni/igni_capa.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -14em;
    height: 25em;
}


.aard_capa{
    background-image: url(/src/aard/aard_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -32em;
    height: 25em;
}

.yrden_capa{
    background-image: url(/src/yrden/yrden_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -25em;
    height: 25em;
}

.yrden-text{
    color: #9400D3;
}

.quen_capa{
    background-image: url(/src/quen/quen_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -20em;
    height: 25em;
}

.axii_capa{
    background-image: url(/src/axii/axii_capa.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -21em;
    height: 25em;
}

@media screen and (max-width: 768px){
    .igni_capa{
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .aard_capa{
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .yrden_capa{
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .quen_capa{
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: 2em;
        height: 26em;
    }
    .axii_capa{
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
}


footer {
    background-color: #343A40;
    color: white;
    height: 6em;
    text-align: center;
}



