*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Serif', serif;
}

html {
    scroll-behavior: smooth;
}

.navbar a{
    color: black !important;
}

.bgcolor.scrolled a{
    color: white !important;
    transition: ease-in-out 0.9s;
}

.bgcolor.scrolled{
    background-color: #343A40;
    color: white;
    transition: ease-in-out 0.5s;
}

p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1em;
}

.trechos{
    font-style: italic;
    font-size: 0.9em;
}

.img-thumbnail{
    height: 9em;
    width: 9em;
    margin-top: -2em;
    margin-left: 1em;
    padding: 0em;
}

.capa{
    background-image: url(/src/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    height: 30em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding-top: 24em;
    text-transform: uppercase;
}

.igni_capa{
    background-image: url(/src/igni/igni_capa.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -14em;
    height: 25em;
}

.aard_capa{
    background-image: url(/src/aard/aard_mobile.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -34em;
    height: 25em;
}

.yrden_capa{
    background-image: url(/src/yrden/yrden_capa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    
    height: 25em;
}

.yrden-text{
    color: #9400D3;
}

.quen_capa{
    background-image: url(/src/quen/quen_mobile.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -20em;
    height: 25em;
}

.axii_capa{
    background-image: url(/src/axii/axii_mobile.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: -23em;
    height: 25em;
}

@media screen and (max-width: 768px){
    
    .navbar{
        background-color: #343A40;
    }

    .navbar a{
        color: white !important;
    }
    
    p{
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.5em;
    }

    .credit{
        font-size: 1em;
    }

    .trechos{
        font-style: italic;
        font-size: 1.2em;
    }
    
    .img-thumbnail{
        height: 5em;
        width: 5em;
        margin-top: -2em;
        margin-left: 1em;
        padding: -0;
    }

    .capa{
        background-image: url(/src/capa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        height: 30em;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        padding-top: 24em;
        text-transform: uppercase;
    }
    .igni_capa{
        background-image: url(/src/igni/igni-mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .aard_capa{
        background-image: url(/src/aard/aard_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .yrden_capa{
        background-image: url(/src/yrden/yrden_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .quen_capa{
        background-image: url(/src/quen/quen_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: 2em;
        height: 26em;
    }
    .axii_capa{
        background-image: url(/src/axii/axii_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }

    
    
    

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    p{
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.5em;
    }

    .trechos{
        font-style: italic;
        font-size: 1.2em;
    }

    .capa{
        background-image: url(/src/capa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        height: 30em;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        padding-top: 24em;
        text-transform: uppercase;
    }
    .igni_capa{
        background-image: url(/src/igni/igni-mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .aard_capa{
        background-image: url(/src/aard/aard_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .yrden_capa{
        background-image: url(/src/yrden/yrden_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }
    .quen_capa{
        background-image: url(/src/quen/quen_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: 2em;
        height: 26em;
    }
    .axii_capa{
        background-image: url(/src/axii/axii_mobile.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 26em;
    }

    .img-thumbnail{
        height: 4em;
        width: 4em;
        margin-top: -2em;
        margin-left: 1em;
        padding: 0;
    }
}


footer {
    background-color: #343A40;
    color: white;
    height: 6em;
    text-align: center;
    
}


